In [2]:
import pandas as pd

In [3]:
df_jan = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201901.csv', sep=';')
df_feb = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201902.csv', sep=';')
df_mar = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201903.csv', sep=';')
df_apr = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201904.csv', sep=';')
df_may = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201905.csv', sep=';')
df_jun = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201906.csv', sep=';')

/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_6600/1091481605.py:1: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jan = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201901.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_6600/1091481605.py:2: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_feb = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201902.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_6600/1091481605.py:3: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mar = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201903.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_6600/1091481605.py:4: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_apr = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201904.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_6600/1091481605.py:5: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_may = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201905.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_6600/1091481605.py:6: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jun = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201906.csv', sep=';')

In [4]:
df_jul = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201907.csv', sep=';')
df_aug = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201908.csv', sep=';')
df_sep = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201909.csv', sep=';')
df_oct = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201910.csv', sep=';')
df_nov = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201911.csv', sep=';')
df_dec = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201912.csv', sep=';')

/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_6600/2925148990.py:1: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jul = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201907.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_6600/2925148990.py:2: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_aug = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201908.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_6600/2925148990.py:3: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sep = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201909.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_6600/2925148990.py:4: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_oct = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201910.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_6600/2925148990.py:5: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_nov = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201911.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_6600/2925148990.py:6: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dec = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201912.csv', sep=';')

In [17]:
file_names = [df_jan, df_feb, df_mar, df_apr, df_may, df_jun, 
              df_jul, df_aug, df_sep, df_oct, df_nov, df_dec, df_jan]

In [6]:
df_mar.shape

(18385487, 26)

In [7]:
# GROUPING EVERY 2 CONSECUTIVE MONTHS TOGETHER

def data_prep(
        df_prev: pd.DataFrame,
        df_next: pd.DataFrame,
        n_days_prev_month: int,
        n_days_next_month: int
):
    # Convert the date_time_utc column from string to datetime object
    df_prev['date_time_utc'] = pd.to_datetime(df_prev['date_time_utc'])
    df_next['date_time_utc'] = pd.to_datetime(df_next['date_time_utc'])

    # Extract day from datetime and get last/first unique days
    last_days = sorted(df_prev['date_time_utc'].dt.date.unique())[-n_days_prev_month:]
    first_days = sorted(df_next['date_time_utc'].dt.date.unique())[:n_days_next_month]

    # Filter rows where date matches the selected days
    df_last_days = df_prev[df_prev['date_time_utc'].dt.date.isin(last_days)]
    df_first_days = df_next[df_next['date_time_utc'].dt.date.isin(first_days)]

    # Combine the rows
    df_output = pd.concat([df_last_days, df_first_days])

    return df_output

In [8]:
# GROUP ALL 2 MONTH BLOCKS TOGETHER

In [18]:
dfs_processed = []

# I think this needs to be fixed to circle back to the first day of Jan
# Right now I believe it starts at the end of Jan and ends at the beginning of dec
# And those 2 never connect in the method.
for i in range(len(file_names) - 1):
    df_prev = file_names[i]
    df_next = file_names[i + 1]

    # You need to decide how many days to take from each month; here as example, use 3 days each
    processed_df = data_prep(df_prev, df_next, n_days_prev_month=1, n_days_next_month=1)
    dfs_processed.append(processed_df)

In [19]:
df_all = pd.concat(dfs_processed, ignore_index=True)

In [20]:
df_all.shape

(15110732, 26)

In [21]:
df_all[(df_all['date_time_utc'] == pd.to_datetime('2019-01-31'))]

,shipid,date_time_utc,flagname,iceclass,astd_cat,sizegroup_gt,fuelquality,fuelcons,co,co2,...,blackcarbon,organiccarbon,oilbilgewater,blackwater,greywater,garbage,dist_nextpoint,sec_nextpoint,longitude,latitude
134819,485,2019-01-31,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.535610,369,15.072133,68.913230
169605,641,2019-01-31,Norway,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.087459,362,29.090300,70.857620
211080,832,2019-01-31,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.573281,361,15.682477,69.141160
274785,1642,2019-01-31,Iceland,FS Ice Class 1C,Fishing vessels,< 1000 GT,0,0.001876,0.000014,0.005946,...,3.376000e-07,1.140500e-06,4.400000e-09,0.000797,0.002619,0.0,255.019840,246,-24.954306,65.126495
337529,2123,2019-01-31,Norway,NaN,General cargo ships,< 1000 GT,0,0.002042,0.000015,0.006474,...,3.676000e-07,1.241800e-06,6.600000e-09,0.001199,0.003940,0.0,3.345787,370,11.281121,64.858740
430033,7541,2019-01-31,Bahamas,FS Ice Class 1B,Refrigerated cargo ships,1000 - 4999 GT,3,0.040549,0.000300,0.128540,...,7.298800e-06,2.465380e-05,2.660000e-08,0.001149,0.008503,0.0,2255.288300,361,7.432227,63.850224
545886,8353,2019-01-31,Luxembourg,FS Ice Class 1A,General cargo ships,1000 - 4999 GT,1,0.001592,0.000012,0.005045,...,2.865000e-07,9.677000e-07,1.330000e-08,0.000573,0.004240,0.0,1.657768,180,24.519463,65.663055

In [22]:
df_all['date_time_utc'] = pd.to_datetime(df_all['date_time_utc'])

df_all['year'] = df_all['date_time_utc'].dt.year
df_all['month'] = df_all['date_time_utc'].dt.month
df_all['day'] = df_all['date_time_utc'].dt.day

In [23]:
def verify_days(group):
    days = group['day']
    has_first = 1 in days.values
    has_last = days.max() in days.values
    return pd.Series({'has_first': has_first, 'has_last': has_last})


month_check = df_all.groupby(['year', 'month']).apply(verify_days)

/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_6600/236622090.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  month_check = df_all.groupby(['year', 'month']).apply(verify_days)

In [24]:
print(month_check)

            has_first  has_last
year month
2019 1           True      True
     2           True      True
     3           True      True
     4           True      True
     5           True      True
     6           True      True
     7           True      True
     8           True      True
     9           True      True
     10          True      True
     11          True      True
     12          True      True

In [25]:
df_all.to_csv('all_months_1day.csv', index=False)