In [1]:
import pandas as pd

In [2]:
df_jan = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201901.csv', sep=';')
df_feb = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201902.csv', sep=';')
df_mar = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201903.csv', sep=';')
df_apr = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201904.csv', sep=';')
df_may = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201905.csv', sep=';')
df_jun = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201906.csv', sep=';')

/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_1263/1091481605.py:1: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jan = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201901.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_1263/1091481605.py:2: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_feb = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201902.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_1263/1091481605.py:3: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mar = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201903.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_1263/1091481605.py:4: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_apr = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201904.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_1263/1091481605.py:5: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_may = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201905.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_1263/1091481605.py:6: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jun = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201906.csv', sep=';')

In [3]:
df_jul = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201907.csv', sep=';')
df_aug = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201908.csv', sep=';')
df_sep = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201909.csv', sep=';')
df_oct = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201910.csv', sep=';')
df_nov = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201911.csv', sep=';')
df_dec = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201912.csv', sep=';')

/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_1263/2925148990.py:1: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jul = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201907.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_1263/2925148990.py:2: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_aug = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201908.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_1263/2925148990.py:3: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sep = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201909.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_1263/2925148990.py:4: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_oct = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201910.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_1263/2925148990.py:5: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_nov = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201911.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_1263/2925148990.py:6: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dec = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201912.csv', sep=';')

In [4]:
file_names = [df_jan, df_feb, df_mar, df_apr, df_may, df_jun, 
              df_jul, df_aug, df_sep, df_oct, df_nov, df_dec]

In [5]:
df_mar.shape

(18385487, 26)

In [6]:
# GROUPING EVERY 2 CONSECUTIVE MONTHS TOGETHER

def data_prep(
        df_prev: pd.DataFrame,
        df_next: pd.DataFrame,
        n_days_prev_month: int,
        n_days_next_month: int
):
    # Convert the date_time_utc column from string to datetime object
    df_prev['date_time_utc'] = pd.to_datetime(df_prev['date_time_utc'])
    df_next['date_time_utc'] = pd.to_datetime(df_next['date_time_utc'])

    # Extract day from datetime and get last/first unique days
    last_days = sorted(df_prev['date_time_utc'].dt.date.unique())[-n_days_prev_month:]
    first_days = sorted(df_next['date_time_utc'].dt.date.unique())[:n_days_next_month]

    # Filter rows where date matches the selected days
    df_last_days = df_prev[df_prev['date_time_utc'].dt.date.isin(last_days)]
    df_first_days = df_next[df_next['date_time_utc'].dt.date.isin(first_days)]

    # Combine the rows
    df_output = pd.concat([df_last_days, df_first_days])

    return df_output

In [ ]:
# GROUP ALL 2 MONTH BLOCKS TOGETHER

In [ ]:
dfs_processed = []

# I think this needs to be fixed to circle back to the first 3 days of Jan
# Right now I believe it starts at the end of Jan and ends at the beginning of dec
# And those 2 never connect in the method.
for i in range(len(file_names) - 1):
    df_prev = file_names[i]
    df_next = file_names[i + 1]

    # You need to decide how many days to take from each month; here as example, use 3 days each
    processed_df = data_prep(df_prev, df_next, n_days_prev_month=3, n_days_next_month=3)
    dfs_processed.append(processed_df)

In [11]:
df_all = pd.concat(dfs_processed, ignore_index=True)

In [12]:
df_all.shape

(41615249, 26)

In [ ]:
df_all.head(20)

,shipid,date_time_utc,flagname,iceclass,astd_cat,sizegroup_gt,fuelquality,fuelcons,co,co2,...,blackcarbon,organiccarbon,oilbilgewater,blackwater,greywater,garbage,dist_nextpoint,sec_nextpoint,longitude,latitude
0,4977,2019-01-29 02:31:56,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.000427,72.817760
1,4977,2019-01-29 07:32:08,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-125.382070,50.120377
2,4977,2019-01-29 06:42:28,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-125.382040,50.120377
3,4977,2019-01-29 08:15:29,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-125.382095,50.120403
4,4977,2019-01-29 18:21:27,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-125.382050,50.120377
5,4977,2019-01-29 06:40:09,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-125.382010,50.120373
6,4977,2019-01-29 20:00:29,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-125.382050,50.120377
7,4977,2019-01-29 01:53:10,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-125.382034,50.120380
8,4977,2019-01-29 05:06:09,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-125.382034,50.120370
9,4977,2019-01-29 03:30:50,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-125.382060,50.120365
10,4977,2019-01-29 18:29:48,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-125.382060,50.120365
11,4977,2019-01-29 08:22:30,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-125.382060,50.120370
12,4977,2019-01-29 07:25:08,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-125.382060,50.120390
13,4977,2019-01-29 04:08:49,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,11.142400,72.154480
14,4977,2019-01-29 12:19:07,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,-125.382060,50.120380
15,4978,2019-01-29 07:07:12,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.713984,368,22.385448,60.419914
16,4978,2019-01-29 06:50:02,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.614341,659,22.385480,60.419956
17,4978,2019-01-29 14:49:10,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.295576,360,22.385590,60.419907
18,4978,2019-01-29 02:16:42,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.328825,371,22.385242,60.419880
19,4978,2019-01-29 13:59:21,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.325479,379,22.385265,60.419895

: