In [11]:
import pandas as pd
from datetime import datetime
from dateutil import parser

In [2]:
df_jan = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201901.csv', sep=';', on_bad_lines='skip', encoding='latin')
df_feb = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201902_V2.csv', sep=';', on_bad_lines='skip')
df_mar = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201903-V2.csv', sep=';', on_bad_lines='skip', encoding='latin')
df_apr = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201904.csv', sep=';', on_bad_lines='skip')
df_may = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201905.csv', sep=';', on_bad_lines='skip')
df_jun = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201906.csv', sep=';', on_bad_lines='skip')
df_jul = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201907-V2.csv', sep=';', on_bad_lines='skip')
df_aug = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201908.csv', sep=';', on_bad_lines='skip')
df_sep = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201909.csv', sep=';', on_bad_lines='skip')
df_oct = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201910.csv', sep=';', on_bad_lines='skip')
df_nov = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201911.csv', sep=';', on_bad_lines='skip')
df_dec = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201912.csv', sep=';', on_bad_lines='skip')

/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_55614/2802618179.py:1: DtypeWarning: Columns (0,3,5,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jan = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201901.csv', sep=';', on_bad_lines='skip', encoding='latin')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_55614/2802618179.py:2: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_feb = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201902_V2.csv', sep=';', on_bad_lines='skip')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_55614/2802618179.py:3: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mar = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201903-V2.csv', sep=';', on_bad_lines='skip', encoding='latin')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_55614/2802618179.py:4: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_apr = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201904.csv', sep=';', on_bad_lines='skip')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_55614/2802618179.py:5: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_may = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201905.csv', sep=';', on_bad_lines='skip')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_55614/2802618179.py:6: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jun = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201906.csv', sep=';', on_bad_lines='skip')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_55614/2802618179.py:7: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jul = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201907-V2.csv', sep=';', on_bad_lines='skip')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_55614/2802618179.py:8: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_aug = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201908.csv', sep=';', on_bad_lines='skip')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_55614/2802618179.py:9: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sep = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201909.csv', sep=';', on_bad_lines='skip')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_55614/2802618179.py:10: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_oct = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201910.csv', sep=';', on_bad_lines='skip')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_55614/2802618179.py:11: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_nov = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201911.csv', sep=';', on_bad_lines='skip')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_55614/2802618179.py:12: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dec = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201912.csv', sep=';', on_bad_lines='skip')

In [3]:
df_jan.columns

Index(['shipid', 'date_time_utc', 'flagname', 'iceclass', 'astd_cat',
       'sizegroup_gt', 'fuelquality', 'fuelcons', 'co', 'co2', 'so2', 'pm',
       'nox', 'n2o', 'nmvoc', 'ch4', 'blackcarbon', 'organiccarbon',
       'oilbilgewater', 'blackwater', 'greywater', 'garbage', 'dist_nextpoint',
       'sec_nextpoint', 'longitude', 'latitude'],
      dtype='object')

In [ ]:
#########################
# JAN CONDITIONING
#########################

df_jan['date_time_utc'].head(20)

0    2019-01-22 19:34:01+00:00
1    2019-01-22 23:30:01+00:00
2    2019-01-22 00:12:21+00:00
3    2019-01-22 21:35:11+00:00
4    2019-01-22 10:10:12+00:00
5    2019-01-22 14:01:21+00:00
6    2019-01-22 22:46:30+00:00
7    2019-01-22 10:34:31+00:00
8    2019-01-22 22:53:30+00:00
9    2019-01-22 06:38:31+00:00
10   2019-01-22 20:22:21+00:00
11   2019-01-22 12:12:00+00:00
12   2019-01-22 12:24:12+00:00
13   2019-01-22 02:07:53+00:00
14   2019-01-22 12:30:22+00:00
15   2019-01-22 15:44:11+00:00
16   2019-01-22 21:10:30+00:00
17   2019-01-22 16:14:31+00:00
18   2019-01-22 00:30:52+00:00
19   2019-01-22 22:29:22+00:00
Name: date_time_utc, dtype: datetime64[ns, UTC]

In [4]:
df_jan['date_time_utc'] = pd.to_datetime(df_jan['date_time_utc'], utc=True)
df_jan['date'] = df_jan['date_time_utc'].dt.date

In [5]:
df_jan.shape

(10741729, 27)

In [15]:
df_jan_firstDays = df_jan[(df_jan['date'] == datetime(2019, 1, 1).date())]
df_jan_lastDays = df_jan[(df_jan['date'] == datetime(2019, 1, 31).date())]

In [16]:
df_jan_firstDays.shape

(173730, 27)

In [17]:
df_jan_lastDays.shape

(613794, 27)

In [12]:
######################
# FEB CONDITIONING
######################

In [19]:
df_feb['date_time_utc'] = pd.to_datetime(df_feb['date_time_utc'], utc=True)
df_feb['date'] = df_feb['date_time_utc'].dt.date

In [22]:
df_feb_firstDays = df_feb[(df_feb['date'] == datetime(2019, 2, 1).date())]
df_feb_lastDays = df_feb[(df_feb['date'] == datetime(2019, 2, 28).date())]

In [23]:
df_feb_firstDays.shape

(619641, 27)

In [17]:
########################
# MARCH CONDITIONING
########################

In [27]:
df_mar['date_time_utc'] = pd.to_datetime(df_mar['date_time_utc'], utc=True)
df_mar['date'] = df_mar['date_time_utc'].dt.date

In [32]:
df_mar_firstDay = df_mar[(df_mar['date'] == datetime(2019, 3, 1).date())]
df_mar_lastDay = df_mar[(df_mar['date'] == datetime(2019, 3, 31).date())]

In [33]:
df_mar_firstDay.shape

(592845, 27)

In [34]:
df_mar_lastDay.shape

(612826, 27)

In [22]:
df_mar.tail(20)

,shipid,date_time_utc,flagname,iceclass,astd_cat,sizegroup_gt,fuelquality,fuelcons,co,co2,...,blackcarbon,organiccarbon,oilbilgewater,blackwater,greywater,garbage,dist_nextpoint,sec_nextpoint,longitude,latitude
18385467,3643,2019-03-31 14:39:03+00:00,Norway,NaN,Passenger ships,< 1000 GT,0,0.035066,0.000259,0.111158,...,6.311800e-06,2.131990e-05,6.400000e-09,0.020891,0.154595,0.001,2307.071800,361,16.747650,68.739500
18385468,3643,2019-03-31 01:16:02+00:00,Norway,NaN,Passenger ships,< 1000 GT,0,0.000602,0.000004,0.001909,...,1.084000e-07,3.661000e-07,6.700000e-09,0.021991,0.162731,0.001,4.719359,380,16.852022,68.726280
18385469,3643,2019-03-31 22:47:03+00:00,Norway,NaN,Passenger ships,< 1000 GT,0,0.000588,0.000004,0.001863,...,1.058000e-07,3.574000e-07,6.600000e-09,0.021470,0.158877,0.001,3.299809,371,16.852116,68.726326
18385470,3643,2019-03-31 12:31:24+00:00,Norway,NaN,Passenger ships,< 1000 GT,0,0.000601,0.000004,0.001904,...,1.081000e-07,3.651000e-07,6.700000e-09,0.021933,0.162303,0.001,7.668708,379,16.852182,68.726330
18385471,3643,2019-03-31 09:52:33+00:00,Norway,NaN,Passenger ships,< 1000 GT,0,0.000585,0.000004,0.001853,...,1.052000e-07,3.555000e-07,6.500000e-09,0.021354,0.158021,0.001,3.193354,369,16.852127,68.726295
18385472,3643,2019-03-31 21:28:03+00:00,Norway,NaN,Passenger ships,< 1000 GT,0,0.000570,0.000004,0.001808,...,1.027000e-07,3.468000e-07,6.400000e-09,0.020833,0.154167,0.001,2.497950,360,16.852077,68.726300
18385473,1036,2019-03-30 02:45:50+00:00,United States Of America,NaN,Fishing vessels,< 1000 GT,0,0.438202,0.003243,1.389101,...,7.887640e-05,2.664271e-04,1.055000e-07,0.019315,0.063463,0.000,34817.957000,5960,-132.557050,50.739630
18385474,1036,2019-03-30 01:32:59+00:00,United States Of America,NaN,Fishing vessels,< 1000 GT,0,0.017985,0.000133,0.057011,...,3.237200e-06,1.093470e-05,5.100000e-09,0.000933,0.003067,0.000,1538.982900,288,-132.888240,50.824486
18385475,1036,2019-03-30 11:05:03+00:00,United States Of America,NaN,Fishing vessels,< 1000 GT,0,0.365046,0.002701,1.157196,...,6.570830e-05,2.219480e-04,8.790000e-08,0.016090,0.052868,0.000,28296.525000,4965,-130.310060,50.130615
18385476,1036,2019-03-30 10:21:28+00:00,United States Of America,NaN,Fishing vessels,< 1000 GT,0,0.145871,0.001079,0.462412,...,2.625680e-05,8.868980e-05,3.510000e-08,0.006430,0.021126,0.000,11253.101000,1984,-130.500670,50.184566
18385477,9108,2019-03-30 09:52:52+00:00,United States Of America,NaN,Fishing vessels,< 1000 GT,0,0.012066,0.000089,0.038248,...,2.171900e-06,7.335900e-06,6.600000e-09,0.000428,0.003169,0.000,1728.366200,370,-166.660840,54.080643
18385478,9108,2019-03-30 02:45:14+00:00,United States Of America,NaN,Fishing vessels,< 1000 GT,0,0.169886,0.001257,0.538538,...,3.057950e-05,1.032907e-04,9.990000e-08,0.006529,0.048314,0.000,25578.365000,5641,-167.997800,54.788480
18385479,9108,2019-03-30 11:04:20+00:00,United States Of America,NaN,Fishing vessels,< 1000 GT,0,0.021612,0.000160,0.068512,...,3.890200e-06,1.314040e-05,9.490000e-08,0.006204,0.045907,0.000,6981.536600,5360,-166.496660,53.938236
18385480,9108,2019-03-30 04:19:14+00:00,United States Of America,NaN,Fishing vessels,< 1000 GT,0,0.178657,0.001322,0.566344,...,3.215830e-05,1.086237e-04,1.073000e-07,0.007014,0.051903,0.000,27258.875000,6060,-167.701870,54.635380
18385481,9108,2019-03-30 01:33:02+00:00,United States Of America,NaN,Fishing vessels,< 1000 GT,0,0.011687,0.000086,0.037048,...,2.103700e-06,7.105700e-06,6.900000e-09,0.000451,0.003340,0.000,1765.101800,390,-168.230600,54.905834
18385482,9108,2019-03-30 14:08:01+00:00,United States Of America,NaN,Fishing vessels,< 1000 GT,0,0.001390,0.000010,0.004407,...,2.502000e-07,8.452000e-07,7.200000e-09,0.000473,0.003503,0.000,0.876835,409,-166.540080,53.881000
18385483,9108,2019-03-30 09:59:02+00:00,United States Of America,NaN,Fishing vessels,< 1000 GT,0,0.038507,0.000285,0.122066,...,6.931200e-06,2.341200e-05,2.230000e-08,0.001458,0.010792,0.000,5744.815000,1260,-166.641530,54.070060
18385484,9108,2019-03-30 20:52:21+00:00,United States Of America,NaN,Fishing vessels,< 1000 GT,0,0.005778,0.000043,0.018317,...,1.040100e-06,3.513100e-06,3.010000e-08,0.001968,0.014560,0.000,2.434829,1700,-166.540120,53.880962
18385485,9108,2019-03-30 21:20:40+00:00,United States Of America,NaN,Fishing vessels,< 1000 GT,0,0.014041,0.000104,0.044509,...,2.527300e-06,8.536800e-06,7.320000e-08,0.004781,0.035381,0.000,1.771942,4131,-166.540130,53.880980
18385486,9108,2019-03-30 10:20:01+00:00,United States Of America,NaN,Fishing vessels,< 1000 GT,0,0.012382,0.000092,0.039252,...,2.228800e-06,7.528400e-06,7.400000e-09,0.000485,0.003589,0.000,1886.426300,419,-166.578050,54.034440

In [23]:
######################
# APR CONDITIONING
######################

In [35]:
df_apr['date_time_utc'] = pd.to_datetime(df_apr['date_time_utc'], utc=True)
df_apr['date'] = df_apr['date_time_utc'].dt.date

In [36]:
df_apr_firstDay = df_apr[(df_apr['date'] == datetime(2019, 4, 1).date())]
df_apr_lastDay = df_apr[(df_apr['date'] == datetime(2019, 4, 30).date())]

In [37]:
df_apr_firstDay.shape

(606605, 27)

In [38]:
df_apr_lastDay.shape

(634912, 27)

In [28]:
######################
# MAY CONDITIONING
######################

In [39]:
df_may['date_time_utc'] = pd.to_datetime(df_may['date_time_utc'], utc=True)
df_may['date'] = df_may['date_time_utc'].dt.date

In [40]:
df_may_firstDay = df_may[(df_may['date'] == datetime(2019, 5, 1).date())]
df_may_lastDay = df_may[(df_may['date'] == datetime(2019, 5, 31).date())]

In [41]:
df_may_firstDay.shape

(643249, 27)

In [42]:
df_may_lastDay.shape

(651231, 27)

In [33]:
######################
# JUN CONDITIONING
######################

In [43]:
df_jun['date_time_utc'] = pd.to_datetime(df_jun['date_time_utc'], utc=True)
df_jun['date'] = df_jun['date_time_utc'].dt.date

In [46]:
df_jun_firstDay = df_jun[(df_jun['date'] == datetime(2019, 6, 1).date())]
df_jun_lastDay = df_jun[(df_jun['date'] == datetime(2019, 6, 30).date())]

In [47]:
df_jun_firstDay.shape

(627447, 27)

In [48]:
df_jun_lastDay.shape

(651285, 27)

In [38]:
######################
# JUL CONDITITONING
######################

In [49]:
df_jul['date_time_utc'] = pd.to_datetime(df_jul['date_time_utc'], utc=True)
df_jul['date'] = df_jul['date_time_utc'].dt.date

In [60]:
df_jul_firstDay = df_jul[(df_jul['date'] == datetime(2019, 7, 1).date())]
df_jul_lastDay = df_jul[(df_jul['date'] == datetime(2019, 7, 31).date())]

In [51]:
df_jul_firstDay.shape

(667941, 27)

In [61]:
df_jul_lastDay.shape

(661632, 27)

In [63]:
df_jul.head(5)

,shipid,date_time_utc,flagname,iceclass,astd_cat,sizegroup_gt,fuelquality,fuelcons,co,co2,...,organiccarbon,oilbilgewater,blackwater,greywater,garbage,dist_nextpoint,sec_nextpoint,longitude,latitude,date
0,0,2019-07-12 18:41:41+00:00,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,-177.943570,81.957230,2019-07-12
1,1,2019-07-12 06:35:12+00:00,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,-26.548027,74.232450,2019-07-12
2,2,2019-07-12 03:11:20+00:00,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,-13.180480,68.511860,2019-07-12
3,3,2019-07-12 06:31:17+00:00,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,24.432747,76.544266,2019-07-12
4,4,2019-07-12 01:49:02+00:00,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,76.131226,66.630720,2019-07-12

In [62]:
df_jul.tail(5)

,shipid,date_time_utc,flagname,iceclass,astd_cat,sizegroup_gt,fuelquality,fuelcons,co,co2,...,organiccarbon,oilbilgewater,blackwater,greywater,garbage,dist_nextpoint,sec_nextpoint,longitude,latitude,date
21134443,5359,2019-07-12 15:25:07+00:00,Panama,NaN,Other activities,< 1000 GT,0,0.023506,0.000174,0.074515,...,1.429180e-05,6.400000e-09,0.000418,0.003092,0.0,1750.797000,361,5.465095,63.645790,2019-07-12
21134444,5359,2019-07-12 02:28:48+00:00,Panama,NaN,Other activities,< 1000 GT,0,0.002896,0.000021,0.009179,...,1.760500e-06,6.500000e-09,0.000427,0.003160,0.0,823.383100,369,5.434545,63.381054,2019-07-12
21134445,1344,2019-07-12 21:24:23+00:00,United States Of America,NaN,Fishing vessels,< 1000 GT,0,0.030880,0.000229,0.097890,...,1.877500e-05,7.400000e-09,0.001361,0.004472,0.0,2823.960200,420,-158.187850,58.253260,2019-07-12
21134446,1344,2019-07-12 10:25:19+00:00,United States Of America,NaN,Fishing vessels,< 1000 GT,0,0.000833,0.000006,0.002640,...,5.063000e-07,4.300000e-09,0.000794,0.002609,0.0,20.473522,245,-157.267030,58.700516,2019-07-12
21134447,1344,2019-07-12 11:28:42+00:00,United States Of America,NaN,Fishing vessels,< 1000 GT,0,0.001567,0.000012,0.004967,...,9.527000e-07,8.200000e-09,0.001494,0.004909,0.0,1.715073,461,-157.266900,58.700390,2019-07-12

In [45]:
####################
# AUG CONDITIONING
####################

In [64]:
df_aug['date_time_utc'] = pd.to_datetime(df_aug['date_time_utc'], utc=True)
df_aug['date'] = df_aug['date_time_utc'].dt.date

In [68]:
df_aug_firstDay = df_aug[(df_aug['date'] == datetime(2019, 8, 1).date())]
df_aug_lastDay = df_aug[(df_aug['date'] == datetime(2019, 8, 31).date())]

In [69]:
df_aug_firstDay.shape

(701225, 27)

In [70]:
df_aug_lastDay.shape

(658856, 27)

In [50]:
########################
# SEP CONDITIONING
########################

In [71]:
df_sep['date_time_utc'] = pd.to_datetime(df_sep['date_time_utc'], utc=True)
df_sep['date'] = df_sep['date_time_utc'].dt.date

In [72]:
df_sep_firstDay = df_sep[(df_sep['date'] == datetime(2019, 9, 1).date())]
df_sep_lastDay = df_sep[(df_sep['date'] == datetime(2019, 9, 30).date())]

In [73]:
df_sep_firstDay.shape

(660229, 27)

In [74]:
df_sep_lastDay.shape

(621944, 27)

In [55]:
########################
# OCT CONDITIONING
########################

In [75]:
df_oct['date_time_utc'] = pd.to_datetime(df_oct['date_time_utc'], utc=True)
df_oct['date'] = df_oct['date_time_utc'].dt.date

In [76]:
df_oct_firstDay = df_oct[(df_oct['date'] == datetime(2019, 10, 1).date())]
df_oct_lastDay = df_oct[(df_oct['date'] == datetime(2019, 10, 31).date())]

In [77]:
df_oct_firstDay.shape

(635152, 27)

In [78]:
df_oct_lastDay.shape

(631357, 27)

In [60]:
####################
# NOV CONDITIONING
####################

In [79]:
df_nov['date_time_utc'] = pd.to_datetime(df_nov['date_time_utc'], utc=True)
df_nov['date'] = df_nov['date_time_utc'].dt.date

In [80]:
df_nov_firstDay = df_nov[(df_nov['date'] == datetime(2019, 11, 1).date())]
df_nov_lastDay = df_nov[(df_nov['date'] == datetime(2019, 11, 30).date())]

In [81]:
df_nov_firstDay.shape

(631193, 27)

In [82]:
df_nov_lastDay.shape

(604521, 27)

In [65]:
######################
# DEC CONDITIONING
######################

In [83]:
df_dec['date_time_utc'] = pd.to_datetime(df_dec['date_time_utc'], utc=True)
df_dec['date'] = df_dec['date_time_utc'].dt.date

In [84]:
df_dec_firstDay = df_dec[(df_dec['date'] == datetime(2019, 12, 1).date())]
df_dec_lastDay = df_dec[(df_dec['date'] == datetime(2019, 12, 21).date())]

In [85]:
df_dec_firstDay.shape

(610857, 27)

In [86]:
df_dec_lastDay.shape

(598673, 27)